<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Cấu hình">
        <setting id="api_domain" type="text" label="Tên miền API" default="https://ophim1.com"/>
        <setting id="ep_per_page" type="enum" label="Số tập mỗi trang" values="25|50|75|100" default="1"/>
        <setting id="use_external_player" type="bool" label="Sử dụng trình phát ngoài" default="false"/>
        <setting id="strm_path" type="folder" label="Thư mục lưu file STRM" default=""/>
    </category>
    <category label="Hệ thống">
        <setting id="history" type="text" label="Lịch sử" default="[]" visible="false"/>
    </category>
</settings>
