<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Cấu hình hệ thống">
        <setting id="api_domain" type="text" label="Tên miền API (URL):" default="https://phimapi.com"/>
        <setting id="ep_per_page" type="enum" label="Số tập mỗi trang:" values="25|50|75|100" default="1"/>
        <setting id="view_type" type="enum" label="Chế độ hiển thị danh sách" values="Mặc định|Poster|Wall (Tường)|InfoWall (Tường thông tin)|Shift" default="0" />
    </category>

    <category label="Dữ liệu ứng dụng">
        <setting id="history" type="text" label="Lịch sử phim" default="[]" visible="false"/>
    </category>
</settings>

