name: Build Kodi Repository

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run Repo Builder
        run: python mkrepo.py

      - name: Organize and Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .   # Đẩy toàn bộ thư mục gốc (sau khi đã chạy script)
          branch: gh-pages
          clean: true
          # Loại bỏ các file code không cần thiết khỏi gh-pages
          clean-exclude: |
            .github
            .git
            mkrepo.py
            
