name: Build Kodi Repository

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run Repo Builder
        run: python mkrepo.py

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . 
          branch: gh-pages
          clean: true
          # Giữ lại các file ZIP và XML, chỉ loại bỏ code thừa
          clean-exclude: |
            .github
            .git
            mkrepo.py
            *.py
            
